* {
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    width: 250px;
}

input[type=text] {
    border: 1px solid grey;
    padding: 5px;
    width: 80%;
    float: left;
    font-size: 17px;
    background-color: #f1f1f1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button {
    width: 20%;
    padding: 5px;
    border: 1px solid grey;
    border-left: none;
    font-size: 17px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input:focus, button:focus {
    outline: none;
}
